.book{
    width: 153px;
    height: 315px;
    background-color: #fff;
    border-radius: 6px;
    position: relative;

    img{
        margin: 4px 0 0 5px;
        width: 142px;
        height: 210px;
    }

    .favourite{
        position: absolute;
        top: 0;
        left: 10px;
        margin: 0;
        width: 20px;
        height: 20px;
        cursor: url(../../../assets/images/icons/focused-rocket-icon.svg) 0 0, pointer;
    }

    .book_description{
        margin: 0px 0 0 4%;
        display: flex;
        flex-flow: column;

        span{
            margin: 3px 0px;
            line-height: 12px;
            font-size: 11px;
        }

        h6{
            margin: 3px 0px;
            line-height: 13px;
            font-size: 12px;
        }

        .book_description_date{
            position: absolute;
            top: 92%;
            left: 80%;
        }
    }
}