.book{
    width: 11.2%;
    height: 315px;
    background-color: #fff;
    border-radius: 6px;
    position: relative;

    img{
        margin: 5px 0 0 4%;
        height: 67%;
    }

    .favourite{
        position: absolute;
        top: 0;
        left: 10px;
        margin: 0;
        height: 20px;
        cursor: url(../../../assets/images/icons/focused-rocket-icon.svg) 0 0, pointer;
    }

    .book_description{
        margin: 0px 0 0 4%;
        display: flex;
        flex-flow: column;

        span{
            margin: 3px 0px;
            line-height: 12px;
            font-size: 11px;
        }

        h6{
            margin: 3px 0px;
            line-height: 13px;
            font-size: 12px;
        }

        .book_description_date{
            margin: 3px 77%;
        }
    }
}