.list{
    top: -20px;
    left: 30%;
    position: absolute;
    width: 100%;

    li{
        margin: 2px 0;
        padding: 5px 5px;
        width: 50%;
        height: 30px;
        background: #FFFFFF;
        border: 1px solid #C1CAD2;
        border-radius: 6px;
        box-sizing: border-box;
        color: black;
        list-style-type: none;
    }

    li:hover{
        background: #C1CAD2;
    }
}