.main-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;

    .main-container_head{
        background: rgb(228, 227, 227);
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);

        header{
            width: 100%;
            height: 80px;
            display: flex;
            justify-content: space-around;

            .logo{
                margin: auto;
                width: 20%;
                height: 30px;
                background-image: url(../../assets/DigitalDepartment.svg);
                background-repeat: no-repeat;
            }

            .book{
                margin: auto;
                width: 2%;
                height: 30px;
                background-image: url(../../assets/book.svg);
                background-repeat: no-repeat;
            }

            .star{
                margin: auto;
                width: 2%;
                height: 30px;
                background-image: url(../../assets/star.svg);
                background-repeat: no-repeat;
            }

            .face{
                margin: auto;
                width: 5%;
                height: 70px;
                background-image: url(../../assets/face.svg);
                background-repeat: no-repeat;
            }
    
            input{
                margin: auto;
                padding: 5px;
                height: 25px;
                width: 50%;
                box-sizing: border-box;
                outline: none;
                background: #FFFFFF;
                border: 1px solid #BABABA;
                border-radius: 8px;
                background-image: url(../../assets/search.svg);
                background-repeat: no-repeat;
                background-position: 3px 3px;
            }
    
            input:active,
            input:focus{
                background: none;
            }
        }
    
        nav{
            width: 100%;
            height: 30px;
            display: flex;
            justify-content: start;
    
            a{
                font-weight: 500;
                color: rgba(0, 0, 0, 0.8);
                margin-left:3%;
            }
        }
    }

    .user-library{
        width: 100%;
        height: 498px;
        background-image: url(../../assets/background.svg);
    }
}