.container{
    width: 100%;
    padding: 0 2%;
    display: flex;
    flex-flow: column;
    box-sizing: border-box;

    h3{
        margin: 20px 0;
    }

    .favourites{
        display: flex;

        div{
            margin-right: 10px;
        }
    }
}