.registration{
    padding:0 2%;
    margin:5% auto;
    width: 55%;
    height: 60%;
    display: flex;
    flex-flow: column;
    background-color: #ffff;
    box-sizing: border-box;
    box-shadow: 0px -5px 20px rgba(119, 140, 151, 0.25);
    border-radius: 20px;
    text-align: left;

    .columns-container{
        margin: 0;
        height: 85%;
        width: 100%;
        display: flex;

        .column{
            height: 100%;
            width: 50%;
            position: relative;
            display: flex;
            flex-flow: column;
            justify-content: start;

            .date-input{
                cursor: url(../../assets/images/icons/focused-rocket-icon.svg) 2 2, pointer;
                border: none;
                border: 1px solid #C1CAD2;
            }
            
        }
    }

    h2{    
        color: rgba(7, 84, 151, 0.81);
    }

    input{
        margin: 0 0 15px 0%;
        width: 90%;
        text-align: left;
        padding:0 7px;
        height: 35px;
        box-sizing: border-box;
        border: 1px solid #C1CAD2;
        border-radius: 6px;
        outline: none;
    }

    label{
        margin: 0;
        text-align: left;
        font-size: 12px;
        color: #309FFF;
    }

    .password{
        border: none;
        border-radius: 0;
        border-bottom: 1px solid #309FFF;
    }

    .registration-back{
        position: absolute;
        top: 65%;
        left: 25%;
        height: 60px;
        width: 70%;
        background-color: #ffff;
    }

    .reg-btn{
        height: 40px;
        width: 60%;
        margin: 10px 0 0 30%;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        background: #075497;
        border-radius: 6px;
        outline: none;
        border: none;
        animation: show 1.5s linear;

        a{
            color: #ffff;
        }
    }
}

@keyframes show {
    from {
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}