.library{
    width: 100%;
    padding: 0 2%;
    display: flex;
    flex-flow: column;
    box-sizing: border-box;

    h3{
        margin: 20px 0;
    }

    .selectors{
        width: 99%;
        position: relative;
        display: flex;

        .select{
            width: 30%;
        }

        .sorting{
            width: 15%;
            top: 5px;
            left: 88%;
            position: absolute;
            z-index: 3;
    
            .sorting_btn{
                width: 35px;
                height: 35px;
                background-image: url(../../../assets/images/icons/sort-btn-icon.svg);
                background-size: 100%;
                background-repeat: no-repeat;
                border: none;
                border-radius: 6px;
            }

            .sorting_modal{
                border: 1px solid #000;
                background-color: #fff;
                border-radius: 6px;

                .sorting-blocks{
                    display: flex;

                    button{
                        width: 90%;
                        border-radius: 6px;
                        text-align: left;
                        border: none;
                        background-color: #fff;
                    }
    
                    button:hover{
                        background-color: #727070;
                    }
                    
                    img{
                        width: 20px;
                        height: 20px;
                        cursor: url(../../../assets/images/icons/focused-rocket-icon.svg) 0 0, pointer;
                    }

                    img:hover{
                        border: 0.5px dotted black;
                    }
                }
            }
        }
    }

    .library_books{
        margin-top: 30px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

}