.pagination{
    margin: 20px 0;
    width: 200px;
    display: flex;
    justify-content: center;
    border-radius: 2px;

    button{
        width: 30px;
        height: 30px;
    }

    .pagination_arrow{
        border: none;
        border-radius: 1px;
        background-color: rgba(255, 255, 255, 1);
    }

    .passive{
        border: none;
        border-radius: 1px;
        background-color: rgba(255, 255, 255, 1);
        font-size: 14px;
        color: rgba(7, 84, 151, 1);
    }

    .active{
        border: none;
        border-radius: 1px;
        font-size: 14px;
        background: #FFF;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05) inset;
        color: var(--white, #C1CAD2);
    }

    button:not(:last-child) {
        border-right: 1px solid #C1CAD2;
    }
}