.internet{  
    position: fixed;
    top: 20px;
    left: 25%;
    width: 50%;
    height: 60px;
    background-color: blueviolet;
    border-radius: 5px;

    h3{
        margin: 17px 5%;
        color: #ffff;
    }
}