.select{
    margin: 5px 0 10px 0;
    width: 90%;
    height: 35px;
    position: relative;
    background: #FFFFFF;
    border: 1px solid #C1CAD2;
    border-radius: 6px;
    box-sizing: border-box;
    color: black;

    p{
        margin: 8px 2%;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        color: #000000a7;
    }

    .list{
        top: -70px;
        left: 30%;
        position: absolute;
        width: 70%;
        height: 100px;
        overflow-y: scroll;
        z-index: 2;
    
        li{
            margin: 2px 0;
            padding: 2px 2px;
            width: 90%;
            height: 25px;
            background: #FFFFFF;
            border: 1px solid #C1CAD2;
            border-radius: 6px;
            box-sizing: border-box;
            color: black;
            list-style-type: none;
            z-index: 2;
        }
    
        li:hover{
            background: #C1CAD2;
        }
    }
}

.multiple-select_value{
    top: 35px;
    left: 0;
    position: absolute;
    display: flex;

    .multiple-select_value_item{
        margin-right: 3px;
        width: 120px;
        padding: 3px;
        display: flex;
        justify-content: space-between;
        border-radius: 5px;
        background: rgba(199, 235, 255, 0.82);
        font-size: 13px;

        button{
            background: none;
            border: none;
        }

        button:hover{
            color: #FFFFFF;
        }
    }
}