.license{
    h2{
        font-size: 16px;
        margin-left: 2%;
        line-height: 18px;
    }

    p{
        margin: 10px 2%;
        width: 94%;
        font-weight: 600;
        font-size: 12px;
        line-height: 14px;
        display: flex;
        align-items: center;
        color: #000000;
    }   
}