.container{
    width: 100%;

    .search{
        margin-left: 2%;
        width: 30%;
        display: flex;

        input{
            margin: auto;
            width: 70%;
            height: 20px;
            padding: 5px;
            border-radius: 8px;
            border: 1px solid #BABABA;
            background-repeat: no-repeat;
            background-position: 96%;
        }
    }

    ul{
        margin: 0;
        color: #003E78;

        li{
            margin-bottom: 5px;
            text-decoration: underline;


            a{
                font-size: 20px;
            }
        }
    }
}